[submodule "external/imgui"]
	path = external/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
	# Pin to a specific commit so builds are reproducible. The "docking"
	# branch moves; an unpinned submodule can silently change ImGui and
	# break the build. Update this SHA intentionally when upgrading ImGui.
	commit = 934c6a5f5ef2355d6df25395d555cb71f790c4e9
